/*  */
:root {
--cssvcn-jp-アーモンドグリーン:#5D8165;
--cssvcn-jp-アイアンブルー:#1A4472;
--cssvcn-jp-藍色:#0F5474;
--cssvcn-jp-藍気鼠:#5E7C85;
--cssvcn-jp-藍錆色:#475189;
--cssvcn-jp-アイスグリーン:#CCE7D3;
--cssvcn-jp-藍鉄色:#243250;
--cssvcn-jp-藍鼠:#5E7C85;
--cssvcn-jp-アイビーグリーン:#487C38;
--cssvcn-jp-アイボリー:#F3ECD8;
--cssvcn-jp-アイボリーブラック:#333132;
--cssvcn-jp-藍海松茶:#5C5D31;
--cssvcn-jp-藍利休:#547443;
--cssvcn-jp-青:#0067C0;
--cssvcn-jp-青褐:#23274F;
--cssvcn-jp-青黄:#F4E511;
--cssvcn-jp-青白橡:#83866C;
--cssvcn-jp-青墨:#283446;
--cssvcn-jp-青竹色:#72BAA7;
--cssvcn-jp-青丹:#798543;
--cssvcn-jp-青鈍:#52695D;
--cssvcn-jp-青緑:#00AE95;
--cssvcn-jp-青紫:#6F51A1;
--cssvcn-jp-赤:#ED1A3D;
--cssvcn-jp-赤黄:#FFC800;
--cssvcn-jp-赤朽葉:#DC8551;
--cssvcn-jp-赤香:#FBBD8E;
--cssvcn-jp-赤錆色:#84331F;
--cssvcn-jp-赤墨:#4C2E30;
--cssvcn-jp-赤橙:#F15A22;
--cssvcn-jp-赤茶:#B4533C;
--cssvcn-jp-茜色:#B22D35;
--cssvcn-jp-赤紫:#F067A6;
--cssvcn-jp-アクアグリーン:#88bfbf;
--cssvcn-jp-アクア:#AFDFE4;
--cssvcn-jp-アクアマリン:#006F86;
--cssvcn-jp-灰汁色:#948562;
--cssvcn-jp-赤:#ED1A3D;
--cssvcn-jp-曙色:#F9AA8F;
--cssvcn-jp-浅黄:#FFCC33;
--cssvcn-jp-浅葱:#00A4AC;
--cssvcn-jp-浅縹:#67A7CC;
--cssvcn-jp-浅緋:#DE7C6B;
--cssvcn-jp-浅緑:#84C98B;
--cssvcn-jp-アザレア:#CD4187;
--cssvcn-jp-アザレアピンク:#FF3399;
--cssvcn-jp-小豆色:#98514B;
--cssvcn-jp-アッシュグレイ:#949593;
--cssvcn-jp-アップルグリーン:#96C78C;
--cssvcn-jp-油色:#A99663;
--cssvcn-jp-アプリコット:#FAB280;
--cssvcn-jp-亜麻色:#E8DABE;
--cssvcn-jp-天色:#65BBE9;
--cssvcn-jp-飴色:#E5B36E;
--cssvcn-jp-アメシスト:#9E76B4;
--cssvcn-jp-菖蒲色:#C77EB5;
--cssvcn-jp-洗柿:#FDD2B9;
--cssvcn-jp-洗朱:#E27A5E;
--cssvcn-jp-アリスブルー:#F0F8FF;
--cssvcn-jp-暗紅色:#7D415E;
--cssvcn-jp-暗黒色:#00001C;
--cssvcn-jp-杏色:#FAB27B;
--cssvcn-jp-アントワープブルー:#1A4472;
--cssvcn-jp-アンバー:#B97E54;
--cssvcn-jp-暗緑色:#005133;
--cssvcn-jp-イエロー:#FFD800;
--cssvcn-jp-イエローオーカー:#BB8B38;
--cssvcn-jp-イエローグリーン:#B2D235;
--cssvcn-jp-イエローレッド:#F36C21;
--cssvcn-jp-硫黄色:#F1E266;
--cssvcn-jp-威光茶:#BAB454;
--cssvcn-jp-苺色:#B45460;
--cssvcn-jp-一斤染:#F9AE94;
--cssvcn-jp-今様:#C75467;
--cssvcn-jp-殷紅色:#7D415E;
--cssvcn-jp-インクブルー:#003F8E;
--cssvcn-jp-インディアンイエロー:#E3A857;
--cssvcn-jp-インディアンレッド:#F69679;
--cssvcn-jp-インディゴ:#074770;
--cssvcn-jp-サーモンピンク:#ee7948;
--cssvcn-jp-桜色:#FEEEED;
--cssvcn-jp-サックスブルー:#2E87A1;
--cssvcn-jp-錆浅葱:#508A88;
--cssvcn-jp-錆色:#6A3427;
--cssvcn-jp-錆鼠:#395A5B;
--cssvcn-jp-サファイアブルー:#0054A6;
--cssvcn-jp-サフランイエロー:#FFCC40;
--cssvcn-jp-サフラン色:#CEC5F0;
--cssvcn-jp-サルファーイエロー:#F1E266;
--cssvcn-jp-珊瑚色:#F8A7A0;
--cssvcn-jp-サンド:#D3C6A6;
--cssvcn-jp-黄草色:#D3C6A6;
--cssvcn-jp-シアン:#00AEEF;
--cssvcn-jp-シーグリーン:#8AC75A;
--cssvcn-jp-シーブルー:#235BC8;
--cssvcn-jp-ジェードグリーン:#3F9877;
--cssvcn-jp-シェルピンク:#FDDDCD;
--cssvcn-jp-雌黄:#FFCC4E;
--cssvcn-jp-紫苑色:#757199;
--cssvcn-jp-飾磨紺:#4D5269;
--cssvcn-jp-芝翫茶:#BA8D65;
--cssvcn-jp-信楽利休:#6D6F3E;
--cssvcn-jp-シグナルレッド:#EF4050;
--cssvcn-jp-シクラメンピンク:#F7ADC3;
--cssvcn-jp-紫黒色:#14001A;
--cssvcn-jp-紫紺:#411445;
--cssvcn-jp-宍色:#411445;
--cssvcn-jp-漆黒:#0A0017;
--cssvcn-jp-シナバー:#e15a28;
--cssvcn-jp-シナモン:#AD6820;
--cssvcn-jp-東雲色:#F9AA8F;
--cssvcn-jp-渋紙色:#905740;
--cssvcn-jp-赤銅色:#7B2800;
--cssvcn-jp-ジャスミン:#EBC976;
--cssvcn-jp-シャトルーズイエロー:#FCF16E;
--cssvcn-jp-シャトルーズグリーン:#D3E173;
--cssvcn-jp-シャンパン:#E6BE91;
--cssvcn-jp-朱色:#EF454A;
--cssvcn-jp-シュリンプピンク:#F6978F;
--cssvcn-jp-猩々緋:#ED1C24;
--cssvcn-jp-薔薇色:#F0566E;
--cssvcn-jp-菖蒲色:#694D9F;
--cssvcn-jp-ジョンブリアン:#FFD800;
--cssvcn-jp-シルバーグレイ:#A1A3A6;
--cssvcn-jp-白:#F0F0F0;
--cssvcn-jp-白縹:#A3D8F6;
--cssvcn-jp-真紅:#B1063A;
--cssvcn-jp-真朱:#EF454A;
--cssvcn-jp-真珠色:#FFFEF2;
--cssvcn-jp-新橋色:#5AB9C1;
--cssvcn-jp-深緑色:#005931;
--cssvcn-jp-蘇芳:#973C3F;
--cssvcn-jp-スカーレット:#F15B47;
--cssvcn-jp-スカイグレイ:#BFC5CA;
--cssvcn-jp-スカイブルー:#90D7EC;
--cssvcn-jp-煤竹色:#684D44;
--cssvcn-jp-スチールグレイ:#6C676E;
--cssvcn-jp-スチールブルー:#4682B4;
--cssvcn-jp-ストロー:#E8C473;
--cssvcn-jp-ストロベリー:#D83861;
--cssvcn-jp-砂色:#D3C6A6;
--cssvcn-jp-スノーホワイト:#F4FBFE;
--cssvcn-jp-スプルース:#004F2A;
--cssvcn-jp-スプレイグリーン:#A4D5BD;
--cssvcn-jp-スマルト:#28598F;
--cssvcn-jp-墨:#333132;
--cssvcn-jp-菫色:#705DA8;
--cssvcn-jp-スレートグレイ:#5D5D63;
--cssvcn-jp-青磁色:#60B49F;
--cssvcn-jp-青銅色:#9A6229;
--cssvcn-jp-青藍:#004B88;
--cssvcn-jp-青緑色:#00AE95;
--cssvcn-jp-セージグリーン:#88A476;
--cssvcn-jp-赤褐色:#7C402E;
--cssvcn-jp-石竹色:#F9C1CF;
--cssvcn-jp-石板色:#5D5D63;
--cssvcn-jp-セピア:#6B4A2B;
--cssvcn-jp-セラドン:#C5D6B9;
--cssvcn-jp-ゼラニウムレッド:#E45653;
--cssvcn-jp-セルリアンブルー:#008CAF;
--cssvcn-jp-仙斎茶:#444E2B;
--cssvcn-jp-千歳緑:#2B6442;
--cssvcn-jp-象牙色:#F3ECD8;
--cssvcn-jp-相思鼠:#89B0D5;
--cssvcn-jp-薔薇色:#F0566E;
--cssvcn-jp-赭:#D47258;
--cssvcn-jp-纁:#E48B63;
--cssvcn-jp-空色:#90D7EC;
--cssvcn-jp-ソルフェリノ:#EC008C;
--cssvcn-jp-ダークブルー:#010066;
--cssvcn-jp-ターコイズブルー:#00B7CE;
--cssvcn-jp-ターンブルブルー:#1A4472;
--cssvcn-jp-退紅:#E2AEA8;
--cssvcn-jp-代赭:#B4532A;
--cssvcn-jp-大正藤:#9B95C9;
--cssvcn-jp-橙色:#F58220;
--cssvcn-jp-ダックグリーン:#989E58;
--cssvcn-jp-ダックブルー:#007394;
--cssvcn-jp-煙草色:#91623F;
--cssvcn-jp-ダブグレイ:#8D8790;
--cssvcn-jp-卵色:#FFCE7B;
--cssvcn-jp-丹:#F37053;
--cssvcn-jp-タン:#B87644;
--cssvcn-jp-淡黄色:#FFF1AB;
--cssvcn-jp-団十郎茶:#995D41;
--cssvcn-jp-淡青色:#ABE1FA;
--cssvcn-jp-蒲公英色:#FFD400;
--cssvcn-jp-淡緑色:#CEE6C1;
--cssvcn-jp-チェスナット:#6A3300;
--cssvcn-jp-チェリー:#D9394E;
--cssvcn-jp-チェリーピンク:#F172A3;
--cssvcn-jp-千草色:#97C5B0;
--cssvcn-jp-千草色:#21A0DB;
--cssvcn-jp-千歳緑:#2B6442;
--cssvcn-jp-チャートリュース:#D3E173;
--cssvcn-jp-チャイナブルー:#3155A6;
--cssvcn-jp-チャイニーズピンク:#F9C1CF;
--cssvcn-jp-チャイニーズブルー:#1A4472;
--cssvcn-jp-チャイニーズレッド:#F47A4D;
--cssvcn-jp-茶色:#864A2B;
--cssvcn-jp-茶褐色:#8E3E1F;
--cssvcn-jp-チャコールグレイ:#4C444D;
--cssvcn-jp-茶鼠:#9D9087;
--cssvcn-jp-中黄:#FFE500;
--cssvcn-jp-丁子色:#B97E4D;
--cssvcn-jp-丁子茶:#90593F;
--cssvcn-jp-チョコレート:#602D1D;
--cssvcn-jp-チリアンパープル:#8E3F61;
--cssvcn-jp-月草色:#21A0DB;
--cssvcn-jp-次縹:#618BAD;
--cssvcn-jp-土色:#B47142;
--cssvcn-jp-躑躅色:#EF5B9C;
--cssvcn-jp-露草色:#21A0DB;
--cssvcn-jp-橡色:#515254;
--cssvcn-jp-ディースバッハブルー:#1A4472;
--cssvcn-jp-ディープレッド:#af011c;
--cssvcn-jp-ティールグリーン:#006956;
--cssvcn-jp-ティールブルー:#004864;
--cssvcn-jp-鉄色:#005344;
--cssvcn-jp-鉄黒:#281914;
--cssvcn-jp-鉄紺:#0F1A45;
--cssvcn-jp-鉄錆色:#6A3427;
--cssvcn-jp-鉄納戸:#255668;
--cssvcn-jp-テラコッタ:#B66655;
--cssvcn-jp-藤黄:#FFCC4E;
--cssvcn-jp-橙黄色:#FBB034;
--cssvcn-jp-玉蜀黍色:#EEC362;
--cssvcn-jp-トープ:#565565;
--cssvcn-jp-ドーンピンク:#D0B8BB;
--cssvcn-jp-鴇色:#F5C9C6;
--cssvcn-jp-常磐色:#007B49;
--cssvcn-jp-木賊色:#38755D;
--cssvcn-jp-砥粉色:#E3C395;
--cssvcn-jp-トパーズ:#CD821F;
--cssvcn-jp-鳶色:#85403A;
--cssvcn-jp-トマトレッド:#F15B55;
--cssvcn-jp-鳥の子色:#FFF6DC;
--cssvcn-jp-ヴァーミリオン:#F26649;
--cssvcn-jp-ヴァンダイクブラウン:#905740;
--cssvcn-jp-ウィスタリア:#8689C3;
--cssvcn-jp-ウォーターグリーン:#a5c9c1;
--cssvcn-jp-ウォーターブルー:#AFDFE4;
--cssvcn-jp-鶯色:#918D40;
--cssvcn-jp-鶯茶:#6D5826;
--cssvcn-jp-鬱金色:#FDB933;
--cssvcn-jp-薄藍:#97C3D0;
--cssvcn-jp-薄青:#93b69c;
--cssvcn-jp-薄色:#FDE8E9;
--cssvcn-jp-薄色:#BAA4C4;
--cssvcn-jp-薄紅:#F69896;
--cssvcn-jp-薄群青:#6283C2;
--cssvcn-jp-薄香:#F2DFBB;
--cssvcn-jp-薄紅梅:#F6BABC;
--cssvcn-jp-薄墨色:#939598;
--cssvcn-jp-薄橙:#FEDCBD;
--cssvcn-jp-薄卵色:#FFEFCF;
--cssvcn-jp-薄茶:#C5956B;
--cssvcn-jp-薄鈍色:#B1B3B6;
--cssvcn-jp-薄鼠:#928E9E;
--cssvcn-jp-薄花色:#6EA4CA;
--cssvcn-jp-薄花桜:#ADCDEC;
--cssvcn-jp-薄縹:#9BC9D5;
--cssvcn-jp-浅縹:#67A7CC;
--cssvcn-jp-薄緑:#CEE6C1;
--cssvcn-jp-空五倍子色:#948060;
--cssvcn-jp-卯の花色:#f7fcfe;
--cssvcn-jp-梅染:#B97E5A;
--cssvcn-jp-梅鼠:#B9909E;
--cssvcn-jp-裏葉柳:#D3E8C1;
--cssvcn-jp-ウルトラマリン:#465DAA;
--cssvcn-jp-潤朱:#D75F55;
--cssvcn-jp-ナイルグリーン:#33CC99;
--cssvcn-jp-ナイルブルー:#279E91;
--cssvcn-jp-苗色:#AFC87D;
--cssvcn-jp-中縹:#267CA7;
--cssvcn-jp-茄子紺:#451F49;
--cssvcn-jp-撫子色:#F6ADC6;
--cssvcn-jp-菜の花色:#FFEC50;
--cssvcn-jp-生牡蠣色:#EDF0E0;
--cssvcn-jp-生壁色:#94825D;
--cssvcn-jp-鉛色:#72777B;
--cssvcn-jp-納戸色:#007C8A;
--cssvcn-jp-納戸茶:#2A6E6B;
--cssvcn-jp-丹:#F37053;
--cssvcn-jp-肉色:#FEDCBD;
--cssvcn-jp-似紫:#725889;
--cssvcn-jp-肉桂色:#DA765B;
--cssvcn-jp-鈍色:#636466;
--cssvcn-jp-乳白色:#FFFEF6;
--cssvcn-jp-人参色:#F47A44;
--cssvcn-jp-濡烏:#000b00;
--cssvcn-jp-濡羽色:#000b00;
--cssvcn-jp-ネイビー:#1F2F54;
--cssvcn-jp-ネープルスイエロー:#FFD167;
--cssvcn-jp-ネールピンク:#FDDAC5;
--cssvcn-jp-根岸色:#6E6A37;
--cssvcn-jp-鼠色:#8A8C8E;
--cssvcn-jp-練色:#FFF4DB;
--cssvcn-jp-濃青色:#010066;
--cssvcn-jp-バーガンディー:#561B24;
--cssvcn-jp-パーチメント:#E2E3CB;
--cssvcn-jp-パープル:#956DAF;
--cssvcn-jp-パープルブルー:#6F51A1;
--cssvcn-jp-バーミリオン:#F26649;
--cssvcn-jp-パールグレイ:#BDBDB7;
--cssvcn-jp-パールホワイト:#FFFEF2;
--cssvcn-jp-バーントアンバー:#76573C;
--cssvcn-jp-バーントオレンジ:#C85D5A;
--cssvcn-jp-バーントシェンナ:#AB5239;
--cssvcn-jp-灰赤:#806C68;
--cssvcn-jp-灰赤紫:#E1AFBE;
--cssvcn-jp-灰色:#717375;
--cssvcn-jp-バイオレット:#7159A6;
--cssvcn-jp-灰桜:#E6D2C9;
--cssvcn-jp-バイスブルー:#465DAA;
--cssvcn-jp-灰茶:#905C40;
--cssvcn-jp-灰緑:#5B8063;
--cssvcn-jp-鋼色:#6C676E;
--cssvcn-jp-黄櫨色:#B47454;
--cssvcn-jp-肌色:#FEDCBD;
--cssvcn-jp-蜂蜜色:#E7BB5E;
--cssvcn-jp-鳩羽色:#9687A3;
--cssvcn-jp-鳩羽鼠:#9687A3;
--cssvcn-jp-花浅葱:#00738A;
--cssvcn-jp-花色:#426AB3;
--cssvcn-jp-縹:#267CA7;
--cssvcn-jp-花紫:#5F4894;
--cssvcn-jp-花紺青:#28598F;
--cssvcn-jp-ハニー:#E7BB5E;
--cssvcn-jp-朱華色:#FAC7C1;
--cssvcn-jp-バフ:#C69E6E;
--cssvcn-jp-薔薇色:#F0566E;
--cssvcn-jp-パリブルー:#1A4472;
--cssvcn-jp-パンジー:#583F99;
--cssvcn-jp-ハンターグリーン:#00633A;
--cssvcn-jp-ハンティングピンク:#F30100;
--cssvcn-jp-バンダイクブラウン:#905740;
--cssvcn-jp-バンブー:#E4C068;
--cssvcn-jp-パンプキン:#E29956;
--cssvcn-jp-ピーグリーン:#89A368;
--cssvcn-jp-ピーコックグリーン:#00AE9D;
--cssvcn-jp-ピーコックブルー:#00A2A4;
--cssvcn-jp-ピーチ:#FDD1B0;
--cssvcn-jp-ピーチブロッサム:#F58F98;
--cssvcn-jp-緋色:#DA523A;
--cssvcn-jp-翡翠色:#3F9877;
--cssvcn-jp-ビスケット:#BC9C78;
--cssvcn-jp-ピスタシオグリーン:#B4CF9E;
--cssvcn-jp-秘色:#CAE8E2;
--cssvcn-jp-向日葵色:#FFC20E;
--cssvcn-jp-白群:#78CDD1;
--cssvcn-jp-白緑:#CDE6C7;
--cssvcn-jp-ヒヤシンス:#659AD2;
--cssvcn-jp-ビリジアン:#00896B;
--cssvcn-jp-ビリヤードグリーン:#005D4D;
--cssvcn-jp-鶸色:#CBC547;
--cssvcn-jp-檜皮色:#8F4B38;
--cssvcn-jp-鶸茶:#958C59;
--cssvcn-jp-ピンク:#F8ABA6;
--cssvcn-jp-ファーグリーン:#356D64;
--cssvcn-jp-ファイアーレッド:#F15B40;
--cssvcn-jp-ファウンテンブルー:#C0CDDC;
--cssvcn-jp-ブーゲンビリア:#F16682;
--cssvcn-jp-フェルメールブルー:#465DAA;
--cssvcn-jp-フォゲットミーノット:#72C6EF;
--cssvcn-jp-フォーン:#937B69;
--cssvcn-jp-フォグブルー:#758492;
--cssvcn-jp-フォレストグリーン:#26896D;
--cssvcn-jp-深川鼠:#94A78E;
--cssvcn-jp-深縹:#274765;
--cssvcn-jp-深緋:#B4534B;
--cssvcn-jp-深緑:#005931;
--cssvcn-jp-フクシャ:#CC1669;
--cssvcn-jp-フクシャパープル:#B455A0;
--cssvcn-jp-フクシャピンク:#E95B6B;
--cssvcn-jp-フクシャレッド:#E8204E;
--cssvcn-jp-藤色:#AFB4DB;
--cssvcn-jp-藤納戸:#6A6DA9;
--cssvcn-jp-藤鼠:#A194A6;
--cssvcn-jp-藤紫:#9B95C9;
--cssvcn-jp-二藍:#6B4978;
--cssvcn-jp-葡萄色:#691C2A;
--cssvcn-jp-葡萄鼠:#725761;
--cssvcn-jp-ブラウン:#875C44;
--cssvcn-jp-ブラック:#0D0116;
--cssvcn-jp-フラミンゴ:#F58E7D;
--cssvcn-jp-ブルー:#007DC5;
--cssvcn-jp-ブルーグリーン:#00AE95;
--cssvcn-jp-ブルーフォグ:#758492;
--cssvcn-jp-プルシアンブルー:#1A4472;
--cssvcn-jp-フレッシュ:#FFE6CE;
--cssvcn-jp-フレッシュピンク:#E3C1BB;
--cssvcn-jp-ブロンズ:#9A6229;
--cssvcn-jp-ブロンズブルー:#1A4472;
--cssvcn-jp-ブロンズレッド:#EF4123;
--cssvcn-jp-ブロンド:#F3D18A;
--cssvcn-jp-ベージュ:#E7D0A9;
--cssvcn-jp-ヘーゼルブラウン:#B97E4D;
--cssvcn-jp-ペールオレンジ:#FFE6CE;
--cssvcn-jp-ペールブラウン:#C5956B;
--cssvcn-jp-ベゴニア:#F37167;
--cssvcn-jp-ペッシュ:#FDD1B0;
--cssvcn-jp-紅赤:#D93A49;
--cssvcn-jp-紅色:#C22047;
--cssvcn-jp-紅海老茶:#963531;
--cssvcn-jp-紅樺色:#B4534B;
--cssvcn-jp-紅殻色:#892F1B;
--cssvcn-jp-紅緋:#E83929;
--cssvcn-jp-ベビーピンク:#FEE3D7;
--cssvcn-jp-ベビーブルー:#ADE0EE;
--cssvcn-jp-ヘリオトロープ:#8A77B7;
--cssvcn-jp-ベルフラワー:#6658A6;
--cssvcn-jp-ベルリンブルー:#1A4472;
--cssvcn-jp-弁柄色:#892F1B;
--cssvcn-jp-ヘンナ:#97441D;
--cssvcn-jp-牡丹色:#E761A4;
--cssvcn-jp-ボトルグリーン:#005739;
--cssvcn-jp-ポピーレッド:#F04E58;
--cssvcn-jp-ホリゾンブルー:#92D7E7;
--cssvcn-jp-ボルドー:#5F161D;
--cssvcn-jp-ホワイト:#FFFFFB;
--cssvcn-jp-本朱:#EF454A;
--cssvcn-jp-ポンペイアン:#8D3635;
--cssvcn-jp-écru:#F4E0C4;
--cssvcn-jp-江戸茶:#C38559;
--cssvcn-jp-江戸紫:#6D5498;
--cssvcn-jp-エバーグリーン:#30583B;
--cssvcn-jp-海老色:#691C2A;
--cssvcn-jp-葡萄色:#691C2A;
--cssvcn-jp-葡萄染:#7E5767;
--cssvcn-jp-海老茶:#7C4036;
--cssvcn-jp-エボニー:#474931;
--cssvcn-jp-エメラルドグリーン:#00B379;
--cssvcn-jp-エルムグリーン:#7A903E;
--cssvcn-jp-臙脂:#B3424A;
--cssvcn-jp-鉛丹色:#E66B58;
--cssvcn-jp-マスタード:#A7894B;
--cssvcn-jp-マゼンタ:#EC008C;
--cssvcn-jp-真赭:#DF8D7D;
--cssvcn-jp-抹茶色:#B7BA6B;
--cssvcn-jp-松葉色:#74905D;
--cssvcn-jp-マドンナ:#465DAA;
--cssvcn-jp-マホガニー:#692927;
--cssvcn-jp-マラカイトグリーン:#009D5B;
--cssvcn-jp-マリーゴールド:#F79428;
--cssvcn-jp-マリンブルー:#006881;
--cssvcn-jp-マルーン:#800000;
--cssvcn-jp-マヤ:#73C2FB;
--cssvcn-jp-マンダリンオレンジ:#ED9E31;
--cssvcn-jp-ミカドイエロー:#FFC40C;
--cssvcn-jp-蜜柑色:#F68B1F;
--cssvcn-jp-水浅葱:#70A19F;
--cssvcn-jp-水色:#AFDFE4;
--cssvcn-jp-水縹:#AFDFE4;
--cssvcn-jp-ミッドナイトブルー:#001F43;
--cssvcn-jp-緑:#008000;
--cssvcn-jp-翠:#00793D;
--cssvcn-jp-港鼠:#94A78E;
--cssvcn-jp-海松色:#6E6B41;
--cssvcn-jp-ミルキーホワイト:#FFFEF6;
--cssvcn-jp-ミロリーブルー:#1A4472;
--cssvcn-jp-ミントグリーン:#90CE9C;
--cssvcn-jp-紫:#8B52A1;
--cssvcn-jp-メイズ:#FFD768;
--cssvcn-jp-滅紫:#5C3B54;
--cssvcn-jp-萌黄:#A9D159;
--cssvcn-jp-萌葱色:#006C4F;
--cssvcn-jp-モーブ:#855896;
--cssvcn-jp-木蘭:#C7A252;
--cssvcn-jp-モスグリーン:#5B6F3A;
--cssvcn-jp-モスグレイ:#8F917F;
--cssvcn-jp-桃色:#F58F98;
--cssvcn-jp-百塩茶:#542D24;
--cssvcn-jp-柳色:#ADCA80;
--cssvcn-jp-柳茶:#BAB454;
--cssvcn-jp-山藍摺:#738581;
--cssvcn-jp-山鳩色:#83866C;
--cssvcn-jp-山吹色:#FCAF17;
--cssvcn-jp-雄黄:#FFDAA2;
--cssvcn-jp-黝色:#404048;
--cssvcn-jp-羊羹色:#542D24;
--cssvcn-jp-洋紅:#C53258;
--cssvcn-jp-蓬色:#616B07;
--cssvcn-jp-ライトブルー:#ABE1FA;
--cssvcn-jp-ライトサックスブルー:#87CEFA;
--cssvcn-jp-ライム:#5AFF19;
--cssvcn-jp-ライラック:#C7B2D6;
--cssvcn-jp-駱駝色:#B7704F;
--cssvcn-jp-ラズベリー:#8D1A4A;
--cssvcn-jp-ラセット:#974407;
--cssvcn-jp-ラピスラズリ:#426AB3;
--cssvcn-jp-ラファエル:#465DAA;
--cssvcn-jp-ラベンダー:#B7A8CC;
--cssvcn-jp-藍紫色:#00AEEF;
--cssvcn-jp-藍緑色:#006F86;
--cssvcn-jp-蘭茶:#C7A252;
--cssvcn-jp-ランプブラック:#221816;
--cssvcn-jp-リーフグリーン:#91BA58;
--cssvcn-jp-璃寛茶:#6E6636;
--cssvcn-jp-利休藍:#547443;
--cssvcn-jp-利休色:#667137;
--cssvcn-jp-利休白茶:#CCCF9A;
--cssvcn-jp-利休茶:#776D3A;
--cssvcn-jp-利休生壁:#555E43;
--cssvcn-jp-利休鼠:#54745C;
--cssvcn-jp-リバーブルー:#375A5F;
--cssvcn-jp-緑青色:#47845E;
--cssvcn-jp-竜胆色:#9079ad;
--cssvcn-jp-オイスターホワイト:#EDF0E0;
--cssvcn-jp-老竹色:#769164;
--cssvcn-jp-黄褐色:#C69E6E;
--cssvcn-jp-楝:#9B92C6;
--cssvcn-jp-黄土色:#BA8448;
--cssvcn-jp-黄丹:#F47A55;
--cssvcn-jp-黄緑色:#B2D235;
--cssvcn-jp-オーカー:#BB8B38;
--cssvcn-jp-狼色:#1A4472;
--cssvcn-jp-オーキッド:#D2A3CB;
--cssvcn-jp-オールドローズ:#D5848C;
--cssvcn-jp-御納戸色:#007C8A;
--cssvcn-jp-御納戸茶:#2A6E6B;
--cssvcn-jp-オパールグリーン:#B4DDC0;
--cssvcn-jp-御召茶:#848455;
--cssvcn-jp-オリーブ:#6D5F1A;
--cssvcn-jp-オリーブグリーン:#576128;
--cssvcn-jp-オリーブドラブ:#6E6339;
--cssvcn-jp-オリエンタルブルー:#3155A6;
--cssvcn-jp-オレンジ:#F58220;
--cssvcn-jp-ルビーレッド:#CF355D;
--cssvcn-jp-瑠璃色:#2A5CAA;
--cssvcn-jp-瑠璃紺:#224B8F;
--cssvcn-jp-レグホーン:#FFE8AF;
--cssvcn-jp-レッド:#F15B5B;
--cssvcn-jp-レッドパープル:#F067A6;
--cssvcn-jp-レモンイエロー:#FFF450;
--cssvcn-jp-煉瓦色:#AE5039;
--cssvcn-jp-ロイヤルブルー:#1955A6;
--cssvcn-jp-呂色:#231F20;
--cssvcn-jp-ローアンバー:#89652B;
--cssvcn-jp-ローシェンナ:#D57A3D;
--cssvcn-jp-ローズ:#EF4868;
--cssvcn-jp-ローズグレイ:#948779;
--cssvcn-jp-ローズピンク:#F5989D;
--cssvcn-jp-ローズマダー:#950042;
--cssvcn-jp-ローズレッド:#F05F8D;
--cssvcn-jp-緑青色:#47845E;
--cssvcn-jp-路考茶:#8A7035;
--cssvcn-jp-ワインレッド:#8D3043;
--cssvcn-jp-若草色:#C3D941;
--cssvcn-jp-若竹色:#65C294;
--cssvcn-jp-若葉色:#ABC88B;
--cssvcn-jp-若緑:#9DD29C;
--cssvcn-jp-山葵色:#A6C78E;
--cssvcn-jp-勿忘草色:#7BBFEA;
--cssvcn-jp-カーキ:#B18B55;
--cssvcn-jp-カーディナル:#B1221A;
--cssvcn-jp-ガーネット:#691C23;
--cssvcn-jp-カーマイン:#D11C2C;
--cssvcn-jp-灰白色:#E6E7E8;
--cssvcn-jp-灰緑色:#5B8063;
--cssvcn-jp-海緑色:#8AC75A;
--cssvcn-jp-柿色:#F3704B;
--cssvcn-jp-牡蠣色:#EDF0E0;
--cssvcn-jp-柿茶:#B45332;
--cssvcn-jp-杜若色:#4B5EAA;
--cssvcn-jp-萱草色:#FCBB76;
--cssvcn-jp-褐色:#4D5269;
--cssvcn-jp-褐返し:#2B4C5A;
--cssvcn-jp-褐色:#843900;
--cssvcn-jp-黄色顔料カドミウムイエローの色。:#FAC61E;
--cssvcn-jp-カナリーイエロー:#FFEF6C;
--cssvcn-jp-樺色:#AE5039;
--cssvcn-jp-蒲色:#AE5039;
--cssvcn-jp-樺茶:#995D46;
--cssvcn-jp-白い布を少しだけ藍瓶に浸した色:#94D6DA;
--cssvcn-jp-鴨の羽色:#006956;
--cssvcn-jp-唐紅:#D71345;
--cssvcn-jp-芥子色:#C9AB53;
--cssvcn-jp-烏羽色:#180614;
--cssvcn-jp-枯茶:#90563C;
--cssvcn-jp-苅安色:#F0DC70;
--cssvcn-jp-カルミン:#D11C2C;
--cssvcn-jp-枯色:#E7C694;
--cssvcn-jp-革色:#3D5C4C;
--cssvcn-jp-土器色:#B77055;
--cssvcn-jp-柑子色:#FAA755;
--cssvcn-jp-萱草色:#FCBB76;
--cssvcn-jp-ガンメタルグレイ:#58535E;
--cssvcn-jp-黄:#FFD400;
--cssvcn-jp-黄赤:#F36C21;
--cssvcn-jp-黄枯茶:#7E5435;
--cssvcn-jp-桔梗色:#585EAA;
--cssvcn-jp-麹塵:#7D8361;
--cssvcn-jp-黄茶:#BB6421;
--cssvcn-jp-狐色:#C27526;
--cssvcn-jp-黄橡:#BB8C58;
--cssvcn-jp-生成色:#F6F5EA;
--cssvcn-jp-黄蘗色:#FCF16E;
--cssvcn-jp-黄緑:#B2D235;
--cssvcn-jp-キャメル:#BB8D5F;
--cssvcn-jp-伽羅色:#E4AB7B;
--cssvcn-jp-キャロットオレンジ:#DD6B3D;
--cssvcn-jp-京紫:#825C8C;
--cssvcn-jp-金赤:#EF4123;
--cssvcn-jp-銀灰色:#A1A3A6;
--cssvcn-jp-銀朱:#F26649;
--cssvcn-jp-金茶:#E0861A;
--cssvcn-jp-銀鼠:#A1A3A6;
--cssvcn-jp-草色:#6D8346;
--cssvcn-jp-支子色:#FFD768;
--cssvcn-jp-朽葉:#896A45;
--cssvcn-jp-グラスグリーン:#6D8346;
--cssvcn-jp-クリームいろ:#FFEDB3;
--cssvcn-jp-栗色:#722F10;
--cssvcn-jp-涅色:#624722;
--cssvcn-jp-グリーン:#00B16B;
--cssvcn-jp-栗梅:#883B28;
--cssvcn-jp-クリムゾン:#DC143C;
--cssvcn-jp-胡桃色:#B76F43;
--cssvcn-jp-グレイ:#77787B;
--cssvcn-jp-紅色:#C22047;
--cssvcn-jp-黒:#2A2A2A;
--cssvcn-jp-鉄色:#005344;
--cssvcn-jp-黒茶:#4B2D1C;
--cssvcn-jp-クロッカス:#A5A0CF;
--cssvcn-jp-黒橡:#282928;
--cssvcn-jp-クロムイエロー:#FFCB05;
--cssvcn-jp-クロムグリーン:#006B3E;
--cssvcn-jp-桑染:#A78952;
--cssvcn-jp-桑茶:#AF7632;
--cssvcn-jp-群青色:#465DAA;
--cssvcn-jp-消炭色:#4D4D4F;
--cssvcn-jp-滅紫:#5C3B54;
--cssvcn-jp-憲法色:#57462B;
--cssvcn-jp-濃藍:#0D2A52;
--cssvcn-jp-濃鼠:#584F5B;
--cssvcn-jp-香色:#D1AC76;
--cssvcn-jp-紅紫:#954C93;
--cssvcn-jp-紅紫色:#EC008C;
--cssvcn-jp-柑子色:#FAA755;
--cssvcn-jp-紅梅色:#F69C9F;
--cssvcn-jp-黄櫨染:#816229;
--cssvcn-jp-コーヒーブラウン:#7D4A31;
--cssvcn-jp-コーラルレッド:#F8A7A0;
--cssvcn-jp-ゴールデンイエロー:#FBB161;
--cssvcn-jp-ゴールデンオリーブ:#B27737;
--cssvcn-jp-コーンフラワーブルー:#6495ED;
--cssvcn-jp-焦香:#B36D4D;
--cssvcn-jp-濃色:#6C4851;
--cssvcn-jp-深縹:#274765;
--cssvcn-jp-深緋:#c9171e;
--cssvcn-jp-国防色:#806830;
--cssvcn-jp-苔色:#63822D;
--cssvcn-jp-焦茶:#6B493D;
--cssvcn-jp-ココアブラウン:#875647;
--cssvcn-jp-古代紫:#7D5484;
--cssvcn-jp-コチニールレッド:#C53258;
--cssvcn-jp-濃鼠:#584F5B;
--cssvcn-jp-琥珀色:#B76F3B;
--cssvcn-jp-コバルトグリーン:#40BA8D;
--cssvcn-jp-コバルトブルー:#0072BC;
--cssvcn-jp-媚茶:#6E673F;
--cssvcn-jp-胡粉色:#FFFEF9;
--cssvcn-jp-小麦色:#E19661;
--cssvcn-jp-コルク:#BA8D65;
--cssvcn-jp-紺藍:#464A88;
--cssvcn-jp-紺色:#233B6C;
--cssvcn-jp-紺青:#1A4472;
--cssvcn-jp-紺青:#694F94;
--cssvcn-jp-紺鉄:#0F1A45;
--cssvcn-jp-金春色:#5AB9C1;
--cssvcn-jp-紺瑠璃:#224B8F;
--cssvcn-国鉄-赤1号:B2152B;
--cssvcn-国鉄-赤2号:842B32;
--cssvcn-国鉄-赤3号:7A453D;
--cssvcn-国鉄-赤7号:563533;
--cssvcn-国鉄-赤11号:C32829;
--cssvcn-国鉄-赤13号:88474B;
--cssvcn-国鉄-赤14号:C9242F;
--cssvcn-国鉄-ぶどう色1号:35271D;
--cssvcn-国鉄-ぶどう色2号:413027;
--cssvcn-国鉄-ぶどう色3号:58211C;
--cssvcn-国鉄-とび色2号:735340;
--cssvcn-国鉄-朱色1号:C16543;
--cssvcn-国鉄-朱色3号:E03625;
--cssvcn-国鉄-朱色4号:B53D27;
--cssvcn-国鉄-朱色5号:CA4F3C;
--cssvcn-国鉄-黄1号:FDBC00;
--cssvcn-国鉄-黄4号:EACD6F;
--cssvcn-国鉄-黄5号:E3B144;
--cssvcn-国鉄-黄6号:F7E19E;
--cssvcn-国鉄-クリーム1号:D6BC96;
--cssvcn-国鉄-クリーム2号:E0C37B;
--cssvcn-国鉄-クリーム3号:E2A665;
--cssvcn-国鉄-クリーム4号:CFAC84;
--cssvcn-国鉄-クリーム9号:CABEAC;
--cssvcn-国鉄-クリーム10号:ECE0D1;
--cssvcn-国鉄-クリーム12号:E6E1D5;
--cssvcn-国鉄-黄かっ色1号:A57C4A;
--cssvcn-国鉄-黄かっ色2号:988054;
--cssvcn-国鉄-淡緑1号:9EAE9C;
--cssvcn-国鉄-淡緑3号:7B9681;
--cssvcn-国鉄-淡緑5号:546C55;
--cssvcn-国鉄-淡緑6号:97BC94;
--cssvcn-国鉄-淡緑7号:BAB8A9;
--cssvcn-国鉄-黄緑6号:7BAB4F;
--cssvcn-国鉄-黄緑7号:57B544;
--cssvcn-国鉄-緑1号:005E54;
--cssvcn-国鉄-緑2号:354F33;
--cssvcn-国鉄-緑14号:246029;
--cssvcn-国鉄-緑15号:2E8B57;
--cssvcn-国鉄-灰緑色2号:6D8881;
--cssvcn-国鉄-灰緑色3号:3B6063;
--cssvcn-国鉄-青緑1号:009786;
--cssvcn-国鉄-青緑6号:003835;
--cssvcn-国鉄-青1号:417A83;
--cssvcn-国鉄-青2号:324C51;
--cssvcn-国鉄-青3号:2A3444;
--cssvcn-国鉄-青9号:52799E;
--cssvcn-国鉄-青15号:234059;
--cssvcn-国鉄-青19号:496779;
--cssvcn-国鉄-青20号:003F6C;
--cssvcn-国鉄-青22号:00859E;
--cssvcn-国鉄-青23号:004F8A;
--cssvcn-国鉄-青24号:00B2E5;
--cssvcn-国鉄-青26号:00ACD1;
--cssvcn-国鉄-薄茶色4号:B4A18E;
--cssvcn-国鉄-薄茶色5号:D99574;
--cssvcn-国鉄-薄茶色6号:AEA29B;
--cssvcn-国鉄-薄茶色13号:D1C3B5;
--cssvcn-国鉄-薄茶色14号:DDD2C5;
--cssvcn-国鉄-薄茶色15号:765F4B;
--cssvcn-国鉄-薄茶色17号:A98A68;
--cssvcn-国鉄-ねずみ色1号:767676;
--cssvcn-国鉄-灰色1号:8F8F8F;
--cssvcn-国鉄-灰色8号:AAAAAA;
--cssvcn-国鉄-灰色9号:C5C5C5;
--cssvcn-国鉄-灰色16号:D3D3D3;
--cssvcn-国鉄-白3号:E7E7E8;
--cssvcn-jis-とき色:#F9A1D0;
--cssvcn-jis-つつじ色:#CB4B94;
--cssvcn-jis-桜色:#FFDBED;
--cssvcn-jis-ばら色:#D34778;
--cssvcn-jis-からくれない:#E3557F;
--cssvcn-jis-さんご色:#FF87A0;
--cssvcn-jis-紅梅色:#E08899;
--cssvcn-jis-桃色:#E38698;
--cssvcn-jis-紅色:#BD1E48;
--cssvcn-jis-紅赤:#B92946;
--cssvcn-jis-えんじ:#AE3846;
--cssvcn-jis-蘇芳:#974B52;
--cssvcn-jis-茜色:#A0283A;
--cssvcn-jis-赤:#BF1E33;
--cssvcn-jis-朱色:#ED514E;
--cssvcn-jis-紅樺色:#A14641;
--cssvcn-jis-紅緋:#EE5145;
--cssvcn-jis-鉛丹色:#D3503C;
--cssvcn-jis-紅海老茶:#703B32;
--cssvcn-jis-とび色:#7D483E;
--cssvcn-jis-小豆色:#946259;
--cssvcn-jis-弁柄色:#8A4031;
--cssvcn-jis-海老茶:#6D3D33;
--cssvcn-jis-金赤:#ED542A;
--cssvcn-jis-赤茶:#B15237;
--cssvcn-jis-赤錆色:#923A21;
--cssvcn-jis-黄丹:#EF6D3E;
--cssvcn-jis-赤橙:#ED551B;
--cssvcn-jis-柿色:#E06030;
--cssvcn-jis-肉桂色:#B97761;
--cssvcn-jis-樺色:#BD4A1D;
--cssvcn-jis-れんが色:#974E33;
--cssvcn-jis-錆色:#664134;
--cssvcn-jis-檜皮色:#8A604F;
--cssvcn-jis-栗色:#754C38;
--cssvcn-jis-黄赤:#E45E00;
--cssvcn-jis-たいしゃ:#BA6432;
--cssvcn-jis-らくだ色:#B67A52;
--cssvcn-jis-黄茶:#BB6421;
--cssvcn-jis-肌色:#F4BE9B;
--cssvcn-jis-橙色:#FD7E00;
--cssvcn-jis-灰茶:#866955;
--cssvcn-jis-茶色:#734E30;
--cssvcn-jis-焦茶:#594639;
--cssvcn-jis-こうじ色:#FFA75E;
--cssvcn-jis-杏色:#DDA273;
--cssvcn-jis-蜜柑色:#FA8000;
--cssvcn-jis-褐色:#763900;
--cssvcn-jis-土色:#A96E2D;
--cssvcn-jis-小麦色:#D9A46D;
--cssvcn-jis-こはく色:#C67400;
--cssvcn-jis-金茶:#C47600;
--cssvcn-jis-卵色:#FABE6F;
--cssvcn-jis-山吹色:#FFA500;
--cssvcn-jis-黄土色:#C18A39;
--cssvcn-jis-朽葉色:#897868;
--cssvcn-jis-ひまわり色:#FFB500;
--cssvcn-jis-うこん色:#FCAC00;
--cssvcn-jis-砂色:#C9B9A8;
--cssvcn-jis-芥子色:#CDA966;
--cssvcn-jis-黄色:#FFBE00;
--cssvcn-jis-たんぽぽ色:#FFBE00;
--cssvcn-jis-鶯茶:#70613A;
--cssvcn-jis-中黄:#FAD43A;
--cssvcn-jis-刈安色:#EED67E;
--cssvcn-jis-きはだ色:#D9CB65;
--cssvcn-jis-みる色:#736F55;
--cssvcn-jis-ひわ色:#C2C05C;
--cssvcn-jis-鶯色:#71714A;
--cssvcn-jis-抹茶色:#BDBF92;
--cssvcn-jis-黄緑:#B9C42F;
--cssvcn-jis-苔色:#7A7F46;
--cssvcn-jis-若草色:#A9B735;
--cssvcn-jis-萌黄:#96AA3D;
--cssvcn-jis-草色:#72814B;
--cssvcn-jis-若葉色:#AFC297;
--cssvcn-jis-松葉色:#6E815C;
--cssvcn-jis-白緑:#CADBCF;
--cssvcn-jis-緑:#4DB56A;
--cssvcn-jis-常磐色:#357C4C;
--cssvcn-jis-緑青色:#5F836D;
--cssvcn-jis-千歳緑:#4A6956;
--cssvcn-jis-深緑:#005731;
--cssvcn-jis-もえぎ色:#15543B;
--cssvcn-jis-若竹色:#49A581;
--cssvcn-jis-青磁色:#80AA9F;
--cssvcn-jis-青竹色:#7AAAAC;
--cssvcn-jis-鉄色:#244344;
--cssvcn-jis-青緑:#0090A8;
--cssvcn-jis-錆浅葱:#6C8D9B;
--cssvcn-jis-水浅葱:#7A99AA;
--cssvcn-jis-新橋色:#69AAC6;
--cssvcn-jis-浅葱色:#0087AA;
--cssvcn-jis-白群:#84B5CF;
--cssvcn-jis-納戸色:#166A88;
--cssvcn-jis-かめのぞき:#8CB4CE;
--cssvcn-jis-水色:#A9CEEC;
--cssvcn-jis-藍鼠:#5E7184;
--cssvcn-jis-空色:#95C0EC;
--cssvcn-jis-青:#0067C0;
--cssvcn-jis-藍色:#2E4B71;
--cssvcn-jis-濃藍:#20324E;
--cssvcn-jis-勿忘草色:#92AFE4;
--cssvcn-jis-露草色:#3D7CCE;
--cssvcn-jis-はなだ色:#3C639B;
--cssvcn-jis-紺青:#3D496B;
--cssvcn-jis-るり色:#3451A4;
--cssvcn-jis-るり紺:#324784;
--cssvcn-jis-紺色:#333C5E;
--cssvcn-jis-かきつばた色:#4C5DAB;
--cssvcn-jis-勝色:#383C57;
--cssvcn-jis-群青色:#414FA3;
--cssvcn-jis-鉄紺:#232538;
--cssvcn-jis-藤納戸:#6869A8;
--cssvcn-jis-ききょう色:#4A49AD;
--cssvcn-jis-紺藍:#35357D;
--cssvcn-jis-藤色:#A09BD8;
--cssvcn-jis-藤紫:#948BDB;
--cssvcn-jis-青紫:#704CBC;
--cssvcn-jis-菫色:#6D52AB;
--cssvcn-jis-鳩羽色:#675D7E;
--cssvcn-jis-しょうぶ色:#7051AA;
--cssvcn-jis-江戸紫:#5F4C86;
--cssvcn-jis-紫:#A260BF;
--cssvcn-jis-古代紫:#775686;
--cssvcn-jis-なす紺:#47384F;
--cssvcn-jis-紫紺:#402949;
--cssvcn-jis-あやめ色:#C27BC8;
--cssvcn-jis-牡丹色:#C24DAE;
--cssvcn-jis-赤紫:#C54EA0;
--cssvcn-jis-白:#F1F1F1;
--cssvcn-jis-胡粉色:#F2E8EC;
--cssvcn-jis-生成り色:#F0E2E0;
--cssvcn-jis-象牙色:#E3D4CA;
--cssvcn-jis-銀鼠:#A0A0A0;
--cssvcn-jis-茶鼠:#9F9190;
--cssvcn-jis-鼠色:#868686;
--cssvcn-jis-利休鼠:#787C7A;
--cssvcn-jis-鉛色:#797A88;
--cssvcn-jis-灰色:#797979;
--cssvcn-jis-すす竹色:#605448;
--cssvcn-jis-黒茶:#3E2E28;
--cssvcn-jis-墨:#313131;
--cssvcn-jis-黒:#262626;
--cssvcn-jis-鉄黒:#262626;
--cssvcn-jis-ローズレッド:#C74F90;
--cssvcn-jis-ローズピンク:#EF93B6;
--cssvcn-jis-コチニールレッド:#AF3168;
--cssvcn-jis-ルビーレッド:#B91E68;
--cssvcn-jis-ワインレッド:#83274E;
--cssvcn-jis-バーガンディー:#452A35;
--cssvcn-jis-オールドローズ:#C97F96;
--cssvcn-jis-ローズ:#D94177;
--cssvcn-jis-ストロベリー:#BB1E5E;
--cssvcn-jis-コーラルレッド:#FF87A0;
--cssvcn-jis-ピンク:#EB97A8;
--cssvcn-jis-ボルドー:#55353B;
--cssvcn-jis-ベビーピンク:#FFC9D2;
--cssvcn-jis-ポピーレッド:#DD4157;
--cssvcn-jis-シグナルレッド:#CE314A;
--cssvcn-jis-カーマイン:#BE1E3E;
--cssvcn-jis-レッド:#DE424C;
--cssvcn-jis-トマトレッド:#DE424C;
--cssvcn-jis-マルーン:#682A2B;
--cssvcn-jis-バーミリオン:#ED514E;
--cssvcn-jis-スカーレット:#DE4335;
--cssvcn-jis-テラコッタ:#AC5647;
--cssvcn-jis-サーモンピンク:#FFA594;
--cssvcn-jis-シェルピンク:#FBCCC3;
--cssvcn-jis-ネールピンク:#F1BEB1;
--cssvcn-jis-チャイニーズレッド:#FF5D20;
--cssvcn-jis-キャロットオレンジ:#CC572C;
--cssvcn-jis-バーントシェンナ:#A8593C;
--cssvcn-jis-チョコレート:#52372F;
--cssvcn-jis-ココアブラウン:#754C38;
--cssvcn-jis-ピーチ:#EBC0AF;
--cssvcn-jis-ローシェンナ:#BB6421;
--cssvcn-jis-オレンジ:#FD7E00;
--cssvcn-jis-ブラウン:#734E31;
--cssvcn-jis-アプリコット:#DDA273;
--cssvcn-jis-タン:#A56F3F;
--cssvcn-jis-マンダリンオレンジ:#FD951E;
--cssvcn-jis-コルク:#A58161;
--cssvcn-jis-エクルベイジュ:#F8CFAE;
--cssvcn-jis-ゴールデンイエロー:#F39A38;
--cssvcn-jis-マリーゴールド:#FFA000;
--cssvcn-jis-バフ:#C5996D;
--cssvcn-jis-アンバー:#B37D40;
--cssvcn-jis-ブロンズ:#815A2B;
--cssvcn-jis-ベージュ:#C1AB96;
--cssvcn-jis-イエローオーカー:#C18A39;
--cssvcn-jis-バーントアンバー:#5B462A;
--cssvcn-jis-セピア:#4A3B2A;
--cssvcn-jis-カーキー:#9A753A;
--cssvcn-jis-ブロンド:#E3B466;
--cssvcn-jis-ネープルスイエロー:#F2C26B;
--cssvcn-jis-レグホーン:#E1C59B;
--cssvcn-jis-ローアンバー:#7F5C13;
--cssvcn-jis-クロムイエロー:#FFBC00;
--cssvcn-jis-イエロー:#FFCC00;
--cssvcn-jis-クリームイエロー:#E8D5AF;
--cssvcn-jis-ジョンブリアン:#FFCC00;
--cssvcn-jis-カナリヤ:#F7D54E;
--cssvcn-jis-オリーブドラブ:#68624E;
--cssvcn-jis-オリーブ:#605627;
--cssvcn-jis-レモンイエロー:#E8C800;
--cssvcn-jis-オリーブグリーン:#565838;
--cssvcn-jis-シャトルーズグリーン:#BDD458;
--cssvcn-jis-リーフグリーン:#879D4E;
--cssvcn-jis-グラスグリーン:#737C3E;
--cssvcn-jis-シーグリーン:#9AB961;
--cssvcn-jis-アイビーグリーン:#516A39;
--cssvcn-jis-アップルグリーン:#B0D3A8;
--cssvcn-jis-ミントグリーン:#81CC91;
--cssvcn-jis-グリーン:#2A9B50;
--cssvcn-jis-コバルトグリーン:#5DC288;
--cssvcn-jis-エメラルドグリーン:#4DA573;
--cssvcn-jis-マラカイトグリーン:#008047;
--cssvcn-jis-ボトルグリーン:#264435;
--cssvcn-jis-フォレストグリーン:#3E795C;
--cssvcn-jis-ビリジアン:#156F5C;
--cssvcn-jis-ビリヤードグリーン:#004840;
--cssvcn-jis-ピーコックグリーン:#007F91;
--cssvcn-jis-ナイルブルー:#5190A4;
--cssvcn-jis-ピーコックブルー:#00708B;
--cssvcn-jis-ターコイズブルー:#399ECC;
--cssvcn-jis-マリンブルー:#005175;
--cssvcn-jis-ホリゾンブルー:#91B2D2;
--cssvcn-jis-シアン:#219DDD;
--cssvcn-jis-スカイブルー:#95C0EC;
--cssvcn-jis-セルリアンブルー:#0B74AF;
--cssvcn-jis-ベビーブルー:#ABBDDA;
--cssvcn-jis-サックスブルー:#627DA1;
--cssvcn-jis-ブルー:#3170B9;
--cssvcn-jis-コバルトブルー:#2863AB;
--cssvcn-jis-アイアンブルー:#3D496B;
--cssvcn-jis-プルシャンブルー:#3D496B;
--cssvcn-jis-ミッドナイトブルー:#00152D;
--cssvcn-jis-ヒヤシンス:#7586BB;
--cssvcn-jis-ネービーブルー:#333C5E;
--cssvcn-jis-ウルトラマリンブルー:#414FA3;
--cssvcn-jis-オリエンタルブルー:#37438F;
--cssvcn-jis-ウィスタリア:#776ED2;
--cssvcn-jis-パンジー:#40317E;
--cssvcn-jis-ヘリオトロープ:#836DC5;
--cssvcn-jis-バイオレット:#6D52AB;
--cssvcn-jis-ラベンダー:#9E8EAE;
--cssvcn-jis-モーブ:#835FA8;
--cssvcn-jis-ライラック:#C2A2DA;
--cssvcn-jis-オーキッド:#C7A1D7;
--cssvcn-jis-パープル:#A260BF;
--cssvcn-jis-マゼンタ:#C949A2;
--cssvcn-jis-チェリーピンク:#CF61A5;
--cssvcn-jis-ホワイト:#F1F1F1;
--cssvcn-jis-スノーホワイト:#F1F1F1;
--cssvcn-jis-アイボリー:#E3D4CA;
--cssvcn-jis-スカイグレイ:#BABAC6;
--cssvcn-jis-パールグレイ:#ADADAD;
--cssvcn-jis-シルバーグレイ:#A0A0A0;
--cssvcn-jis-アッシュグレイ:#939393;
--cssvcn-jis-ローズグレイ:#93848B;
--cssvcn-jis-グレイ:#797979;
--cssvcn-jis-スチールグレイ:#736C79;
--cssvcn-jis-スレートグレイ:#56555E;
--cssvcn-jis-チャコールグレイ:#4E4854;
--cssvcn-jis-ランプブラック:#1C1C1C;
--cssvcn-jis-ブラック:#1C1C1C;
}
